---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Reusable - ActionLint

on:
  workflow_call:
    inputs:
      config-file:
        description: "Path to the actionlint config file"
        type: string
        required: false
        default: ".github/actionlint.yaml"
      extra-flags:
        description: "Additional CLI flags for actionlint"
        type: string
        required: false
        default: ""

jobs:
  actionlint:
    runs-on: ubuntu-latest
    container: docker.io/library/golang:1.24.0-bookworm

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install ActionLint
        run: go install github.com/rhysd/actionlint/cmd/actionlint@latest

      - name: Run actionlint
        run: actionlint -config-file ${{ inputs.config-file }} ${{ inputs.extra-flags }}
