---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Reusable - ActionLint

on:
  workflow_call:
    inputs:
      go-version:
        description: The version of golang to use.
        type: string
        required: false
        default: stable
      actionlint-version:
        description: The version of actionlint to use.
        type: string
        required: false
        default: latest
      config-file:
        description: Path to the actionlint config file
        type: string
        required: false
        default: .github/actionlint.yaml
      extra-flags:
        description: Additional CLI flags for actionlint
        type: string
        required: false
        default: ""

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version: ${{ inputs.go-version }}

      - name: Install ActionLint
        run: go install github.com/rhysd/actionlint/cmd/actionlint@${{ inputs.actionlint-version }}

      - name: Run actionlint
        run: actionlint -config-file ${{ inputs.config-file }} ${{ inputs.extra-flags }}
