---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Reusable - Release SemVer

on:
  workflow_call:
    inputs:
      dry-run:
        type: boolean
        description: Run semantic-release in dry-run mode
        required: false
        default: false
      config-file:
        description: Path to the semantic-release config file
        type: string
        required: false
        default: .commitlintrc.json
      extra-flags:
        description: Additional CLI flags for semantic-release
        type: string
        required: false
        default: --color --verbose

jobs:
  release:
    runs-on: ubuntu-latest
    container: docker.io/library/node:23-bookworm

    steps:
      - name: Generate GitHub App Token
        uses: actions/create-github-app-token@v1.11.5
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v4.2.2
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Install Semantic Release
        run: |
          npm install \
            semantic-release \
            @semantic-release/commit-analyzer \
            @semantic-release/release-notes-generator \
            @semantic-release/github
          npm list --depth=0

      - name: Run Semantic Release
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          semantic-release --extends ${{ inputs.config-file }} \
            ${{ inputs.dry-run && '--dry-run' || '' }} \
            ${{ inputs.extra-flags }}
