---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Reusable - Label Sync

on:
  # from other repositories
  workflow_call:
    inputs:
      dry-run:
        type: boolean
        description: Dry Run
        default: false
        required: false
      config-file:
        type: string
        description: Path to the labeler config file.
        default: ""

jobs:
  label-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@136412a57a7081aa63c935a2cc2918f76c34f514 # v1.11.2
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          token: "${{ steps.app-token.outputs.token }}"
          sparse-checkout: "${{ env.LABEL_SYNC_CONFIG_FILE }}"

      - name: Sync Labels
        uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2.3.3
        with:
          dry-run: "${{ inputs.dry-run == true }}"
          token: "${{ steps.app-token.outputs.token }}"
          delete-other-labels: true
          config-file: "${{ inputs.config-file }}"
